{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ room_name }}</title>
    <script src="https://kit.fontawesome.com/49b5438e0f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/room.css' %}">
</head>
<body>
{{ room_name|json_script:"room-name" }}
{{ token|json_script:"token" }}
{{ uid|json_script:"uid" }}
{{ app_id|json_script:"app_id" }}

<h2>{{ room_name }}</h2>

<div class="video-chat">

    <div class="video-controls">
        <div class="icon" id="leave-btn" >
            <i class="fas fa-times-circle"></i>
        </div>
        <div class="icon" id="microphone-btn" >
            <i class="fas fa-microphone"></i>
        </div>
        <div class="icon" id="camera-btn">
            <i class="fas fa-camera"></i>
        </div>
    </div>
</div>


<div class="chat">
    <div class="chatbox">

    </div>
    <div class="controls">
        <input id="chat-message-input" type="text">
        <input id="chat-message-submit" type="button" value="Send">
    </div>
    <p class="error"></p>
</div>


<script type="text/javascript" src="{% static 'js/AgoraRTC_N-4.11.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/room.js' %}"></script>
</body>
</html>